<p>products works!</p>

<div class="modal">
    <div class="modal-content">
      <h3 class="modal-title"> product detail </h3>
  <hr>
  <p class="modal-title">Heart & Slogan Graphic Tee</p>
      <div class="img-row">
        <div class="img-col1">
            <!-- <button class="logo">A</button> -->
            <img width="150" height="174"  src="assets/productDetail.PNG" alt="My Image">
            
        </div>
        
            <!-- <button class="logo">A</button> -->
            <div class="col2">
                <img width="55" src="assets/productDetail.PNG" alt="My Image">
                <img width="55" src="assets/productDetail.PNG" alt="My Image">
                <img width="55" src="assets/productDetail.PNG" alt="My Image">
            </div>
            <div  class="col3">
                <img width="55" src="assets/productDetail.PNG" alt="My Image">
                <img width="55" src="assets/productDetail.PNG" alt="My Image">
                <img width="55" src="assets/productDetail.PNG" alt="My Image">
            </div>
            <!-- <div  class="col2">
                <img width="55" src="assets/productDetail.PNG" alt="My Image">
                <img width="55" src="assets/productDetail.PNG" alt="My Image">
            </div>
             -->
            
        
      </div>
      
  
      
  
      <div class="container">
        <div class="left-cat">
            <div class="category">
            <h5>Categories :</h5>
            <p>T-shirt</p>
            </div>
            
            <div class="category">
                <h5>Average price :</h5>
                <p>230,000$</p>
                </div>
    
                <div class="category">
                    <h5>Unit Sale :</h5>
                    <p>230,000$</p>
                    </div>
                </div>


            <div class="right-cat">
                    <div class="category">
                    <h5>Brands:</h5>
                    <p>zara</p>
                </div>
                   
                     <div class="category">
                        <h5>Bulk Sale:</h5>
                        <p>230$</p>
                        </div>
            
                        <div class="category">
                            <h5>Quantity :</h5>
                            <p>12item</p>
                            </div> 
                        </div>


     </div>
     <hr>
      
  
      <div class="button-row">
        <button >Delete</button>
        <button > Edit</button>
      </div>
    </div>
  </div>
  