mat-sidenav-container {
  height: 100%;

  mat-sidenav {

    mat-nav-list {

      .chevron-button {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
        right: 0;
        float: right;
        position: absolute;
      }

      .chevron-button.rotated {
        transform: rotate(180deg);
      }
    }
  }
}