<button >+ Customer</button>

<!-- <button (click)="openModal()">+ Customer</button>
<app-customer-modal
  *ngIf="showModal"
  (save)="saveCustomer($event)"
  (cancel)="cancelModal()"
></app-customer-modal> -->

<div class="modal">
    <div class="modal-content">
      <h1 class="modal-title"> Add Customer </h1>
  
      <div class="input-row">
      <input class="input1" type="text"  placeholder=" Customer Name ">
      </div>
      <div class="input-row">
      <input class="input1" type="text"  placeholder=" Customer Name ">
      </div>
      <div class="input-row">
        <input class="input1" type="text"  placeholder="Phone">
    </div>
    <div class="input-row">
        <input class="input1" type="email"  placeholder="Email Address">
    </div>
    <div class="input-row">
        <input class="input1" type="text"  placeholder="Address Line One">
    </div>
  
      <div class="input-row">
        
        <input  class="input2" type="text"  placeholder="Address Line Two">
        <input class="input2" type="text"  placeholder="Provinse">
      </div>
  
      <div class="input-row">
        <input class="input2"type="text" placeholder="City">
        <input class="input2" type="text" placeholder="Country">
      </div>
  
      <textarea  placeholder="Notes"></textarea>
  
      <div class="button-row">
        <button >Cancel</button>
        <button > Add</button>
      </div>
    </div>
  </div>
  