
button{
    color:rgb(245, 240, 245);
    background-color: rgba(189, 3, 142, 0.774);
   border-width: 0%;
   border-radius: 6%;
   padding: 0.5% 3% 0.5% 1%;
   font-size: 10px;
   border: none;
   float: right;
   margin: 2% 3% 0.5% 4%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
  }
  
  .modal-title {
    font-size: 14px;
  text-align: center;
    margin-bottom: 10px;
  }
  input,textarea{
    border-radius: 8px;
    border-color: rgb(248, 197, 225);
  }
  .input-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
    
    
  }
  .input1{
  padding: 2% 48% 2% 2%;
  
  }
  .input2{
    padding: 2% 0.6% 2% 0%;
  }
  
  textarea {
    width: 93%;
    height: 65px;
    resize: vertical;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  
  .button-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  button {
    margin-left: 10px;
  }
  